<div>
  <h1>Experiencia</h1>
</div>

<div>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShY9p8KRp2dsrI_RFi24z1RpDrP8me_4KyAEMtaxWMn2uHgJeOMujgJ0rowtFFYNTVNJg&usqp=CAU" style="float: left" id="logexpcws">
  <b>Especialista Contable/Administrativo. </b>
  <b>Cw Schelp S.A.C.I. </b>
  <b>Ago. 2018 - Actualidad (4 años 1 mes). </b>
  <b>Ciudad Autonoma de Buenos Aires. </b>
  <p>Manejo del Sistema Bejerman. Análisis de Cuentas. Registro y Análisis de Fondo Fijo y Caja Chica. Manejo y Registro de
  Importaciones y Despachos. Registro de Comprobantes de Compras y Gastos y Órdenes de Pago. Cancelación de Impuestos
  Nacionales y anticipos aduaneros a través de medio electrónicos (AFIP, ARBA, AGIP). Confección de información para la
  declaración Impuesto Varios.Preparación de la Información para el Impuesto de la DDJJ Anual de Ganancias. Gestión de Balance Financiero (Cierre
  Contable-Estados Financieros Ganancias y Pérdidas). Control; Manejo de Sueldo, Análisis de FIMA, Control de Prestamos; Reportes para
  gestión de presupuesto de la empresa; elaboración de los informes de bajo VEN-NIF Pymes.</p>
</div>

<div>
  <img src="https://scontent.faep9-1.fna.fbcdn.net/v/t1.6435-9/124947746_106372294620536_6614915337696050644_n.jpg?stp=dst-jpg_p526x296&_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_ohc=qxca_q8VkX8AX8N89z8&_nc_ht=scontent.faep9-1.fna&oh=00_AT-QsNC3NFo0CKkHt7d4uTw1Ad-0bnYZWfzVffwNhYR-mA&oe=631F823E" style="float: left" id="logexprui">
  <b>Analista Contable. </b>
  <b>Ruiz & Asociados Consultores Tributarios y Financieros. </b>
  <b>Mar.2018-Jul.2018.</b>
  <b>Buenos Aires, Argentina.</b>
  <p>Proyecto Empresa Aggreko : Manejo del Sistema Tango, Análisis y control impositivo, contable y financiero.</p>
</div>

<div>
  <img src="https://upload.wikimedia.org/wikipedia/commons/3/31/KPMG.svg" style="float: left" id="logexpkpmg">
  <b>KPMG en Venezuela. </b>
  <b>Consultor Senior Asesoria BPO. </b>
  <b>4 años y 3 meses. </b>
  <b>Caracas, Venezuela.</b>
  <p>Preparación y declaración de impuestos mensuales y anuales. Reportes anuales a Casa Matriz, elaboración y revisión de informes financieros bajo VEN-NIF Pymes, NIIF.
  Elaboración de balance general, estado de ganancias y pérdidas. Análisis de Costo e inventario, estructuras de costo, ajuste de materia prima, ajuste de precio de productos terminados y auxiliares para la
  realización del presupuesto mensual de la empresa. Ajuste por Inflación (Programa PCC2000).</p>
</div>
