<div>
  <h2>Educación</h2>
<div>
  <img
    src="https://media-exp1.licdn.com/dms/image/C510BAQFxYj8Wk5aVvQ/company-logo_100_100/0/1586341470273?e=1668643200&v=beta&t=Lwd53KLQqzXtCSnZOMJ8xguLCORktXAWNL8Ol5M41qo"
    class="rounded float-start"
    id="log.est.hum">
  <b>Universidad 'Alejandro de Humboldt. (2010-2015).</b>
  <p>Titulo: Accountant. </p>
  <p>Diciplina: Contabilidad y Finanzas. </p>
  </div>
<div>
  <h2>Licencias y certificaciones</h2>
</div>
<div>
  <img
    src="https://media-exp1.licdn.com/dms/image/C4E0BAQHhDPmHBm3pCg/company-logo_100_100/0/1563979482487?e=1668643200&v=beta&t=L4owGicRGy6lsbkPNldyrIyvNQjF0z5W_o4kffG7qcQ"
    class="rounded float-start"
    id="log.est.mum">
  <b>MUMUKI. (Octubre - Diciembre 2021).</b>
  <p>Titulo: Argentina Programa: #SeProgramar.</p>
  <p>ID: FfPyHnjygdGxCw1U. </p>
</div>
</div>



