/*Foto*/
@media(min-width:600px) {
  #foto {
    position: absolute;
    width: 140px;
    border-radius: 100%;
    box-shadow: 5px 5px 5px black;
    top: 85px;
    float: left;
    padding: 0.5px;
  }
}
